.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #181313;
  -webkit-box-shadow: 4rem 0 4rem black;
          box-shadow: 4rem 0 4rem black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.About .content {
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.About .content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.About .content .btn {
  position: relative;
  width: 17rem;
  height: 4rem;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border: 0.1rem solid red;
  cursor: pointer;
  margin-top: 3rem;
  text-decoration: none !important;
}

.About .content .btn a,
.About .content .btn p {
  font-weight: 100;
  font-size: 1.4rem;
  z-index: 6;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.About .content .btn.cv {
  margin-left: 1rem;
  border: 0.1rem solid #0d9eff;
}

.About .content .btn.cv::before {
  background-color: #0d9eff;
}

.About .content .btn.cv:hover::before {
  width: calc(100% + 3px);
}

.About .content .btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0rem;
  height: 4rem;
  -webkit-transform: translateY(2px) translateX(-2px);
          transform: translateY(2px) translateX(-2px);
  background-color: red;
  -webkit-transition: 1s;
  transition: 1s;
}

.About .content .btn:hover::before {
  width: 17rem;
}

.About .content div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}

.About .content .ilustr {
  min-width: 320px;
}

.About .content .ilustr img {
  height: 100%;
  width: 100%;
}

.About .content h2 {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.About .content h2 strong {
  font-size: 6rem;
  color: #ff2f2f;
  text-shadow: -3px -1px 1px white;
  line-height: 5rem;
  letter-spacing: -1rem;
}

.About .content p {
  font-size: 1.2rem;
  font-weight: 100;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.About .content p a {
  color: #4db8ff;
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.About .content p a:hover {
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    letter-spacing: 20rem;
    font-size: 15rem;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    letter-spacing: 20rem;
    font-size: 15rem;
  }
}

@-webkit-keyframes bars {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
}

@keyframes bars {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
}

@media screen and (max-width: 600px) {
  .About .content h2 {
    font-size: 2rem;
  }
  .About .content h2 strong {
    font-size: 5rem;
  }
  .About .content p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=About.css.map */