.MySkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 40vh;
  flex-wrap: wrap;
  background-color: #181313;
  -webkit-box-shadow: 4rem 0 4rem black;
          box-shadow: 4rem 0 4rem black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.MySkills .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}

.MySkills .content h2 {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.MySkills .content h2 strong {
  font-size: 6rem;
  color: #ff2f2f;
  text-shadow: -3px -1px 1px white;
  line-height: 5rem;
}

.MySkills .content p {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.MySkills .content .skillImgs {
  width: calc(6 * 8rem);
  height: 8rem;
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 2rem;
}

.MySkills .content .skillImgs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: slide 10s infinite linear;
          animation: slide 10s infinite linear;
}

.MySkills .content .skillImgs div img {
  width: 8rem;
  height: 8rem;
}

.MySkills .content .skillImgs::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(6 * 8rem);
  height: 8rem;
  z-index: 7;
  -webkit-box-shadow: inset 5px 0 1rem black;
          box-shadow: inset 5px 0 1rem black;
}

.MySkills .content .skillImgs::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(6 * 8rem);
  height: 8rem;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: inset 0px 5px 1rem black;
          box-shadow: inset 0px 5px 1rem black;
}

.MySkills .skills {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  min-width: 30rem;
  margin-bottom: 2rem;
}

.MySkills .skills .skill {
  width: 70%;
}

.MySkills .skills .skill h3 {
  font-size: 1.2rem;
}

.MySkills .skills .skill .bar {
  margin-bottom: 1rem;
  height: 0.5rem;
  width: 100%;
  background-color: #0c0c0c;
}

.MySkills .skills .skill .bar .percent {
  height: 100%;
  -webkit-animation: bars 3s;
          animation: bars 3s;
}

.MySkills .skills .skill:nth-of-type(1n) .bar .percent {
  background-color: #ff3535;
  -webkit-box-shadow: 0 0 1rem #ff3535;
          box-shadow: 0 0 1rem #ff3535;
}

.MySkills .skills .skill:nth-of-type(2n) .bar .percent {
  background-color: #d87f2c;
  -webkit-box-shadow: 0 0 1rem #d87f2c;
          box-shadow: 0 0 1rem #d87f2c;
}

.MySkills .skills .skill:nth-of-type(3n) .bar .percent {
  background-color: #d5d82c;
  -webkit-box-shadow: 0 0 1rem #d5d82c;
          box-shadow: 0 0 1rem #d5d82c;
}

.MySkills .skills .skill:nth-of-type(4n) .bar .percent {
  background-color: #2cd843;
  -webkit-box-shadow: 0 0 1rem #2cd843;
          box-shadow: 0 0 1rem #2cd843;
}

.MySkills .skills .skill:nth-of-type(5n) .bar .percent {
  background-color: #2cb0d8;
  -webkit-box-shadow: 0 0 1rem #2cb0d8;
          box-shadow: 0 0 1rem #2cb0d8;
}

.MySkills .skills .skill:nth-of-type(6n) .bar .percent {
  background-color: #a22cd8;
  -webkit-box-shadow: 0 0 1rem #a22cd8;
          box-shadow: 0 0 1rem #a22cd8;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0rem, 0, 0);
            transform: translate3d(0rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-48rem, 0, 0);
            transform: translate3d(-48rem, 0, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0rem, 0, 0);
            transform: translate3d(0rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-48rem, 0, 0);
            transform: translate3d(-48rem, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .MySkills .content h2 {
    font-size: 2rem;
  }
  .MySkills .content h2 strong {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=MySkills.css.map */